@charset "utf-8";
/* CSS Document */
*
{
	width:0 px;
	margin:0 px;
	box-sizing:border-box;
}
body
{
	background-image:url(workbook.jpg);
	background-repeat:no-repeat;
	background-size:1350px 1250px, auto;
}
.top 
{
	background-image:url(elementarystudent.png);
	background-size:200px 200px, auto;
    background-position:right top ;
    background-repeat: no-repeat; 	
    padding:95px;
}

h1
{
    color:#006;
	text-align:center;
	font-weight:bold;
	text-transform:uppercase;
	font-family:'Teko', sans-serif;
}
p
{
	width:70%;
	margin:auto;
	color:#000;
	font-family:'Permanent Marker', cursive;
	word-spacing:2px;
	font-size:25px;
	line-height:42px;
}
.middle
{
	text-align:center;
}	
figcaption
{
   font-size:30px;
   color:#3939FF;	
}
.bottom
{
	background-image:url(student.jpg);
	background-size:200px 200px, auto;
    background-position:left bottom ;
    background-repeat: no-repeat; 	
    padding:95px;
}
h4
{
	text-align:center;
}
h4 a
{
	color:#000;
	font-size:20px;
	text-decoration:none;
	word-spacing:15px;
	font-weight:bold;	
}
h4 a:hover
{
	color:#AAF;
}
